
body {
	background-image: url("images/black_bg.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
}

.header {
	color:black;
	font-family: lillybelle;
	background-color: white;
	text-align: center;
}

article {
	font-size: 22px;
}

.Menu {
	border: 2px solid black;  
}

.container-fluid {
	padding-right:100px; 
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}


