
body {
	background-image: url("images/black_bg.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size: 100%;
}

.header {
	color:black;
	font-family: lillybelle;
	background-color: white;
	text-align: center;
}

article {
	font-size: 22px;
}

.Menu {
	border: 2px solid black;  
}

